html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 300px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.col {
  margin: 20px 0px 20px 0px;
}
.contact-submit {
  margin-top: 20px;
}
